*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #282828;

}


/* .container-custom{
  display: flex;
  flex-direction:row;
} */
.container-row{
  padding-right: 0;
  padding-left: 0;
  height: 110vh;

}

.container-absolte{
  position: absolute;
  top: 0;
  right: 0;
}

.margin{
  margin-top: 10vh;
}
