/* font-family: 'Anton', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Big Shoulders Display', cursive;
font-family: 'Dela Gothic One', cursive; */

.main-pages {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.page__half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  transition: transform 1s;
}
.left {
  left: 0;
  transform: translate3d(0, 100%, 0);
}
.right {
  left: 50%;
  transform: translate3d(0, -100%, 0);
}
.page.active .page__half {
  transform: translate3d(0, 0, 0);
}
.page__skewed {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 140%;
  height: 100%;
  background: linear-gradient(
    114deg,
    rgba(75, 74, 74, 1) 0%,
    rgba(11, 11, 11, 1) 100%
  );
}

/* position des pages droite et gauche  */
.left .page__skewed {
  left: -40%;
}
.right .page__skewed {
  right: -40%;
}
.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 30%;
  color: #fff;
  transition: transform 1s, opacity 1s;
  background-size: cover;
}
.left .content {
  padding-left: 30%;
  padding-right: 30%;
  transform-origin: 100% 0;
}
.right .content {
  padding-left: 30%;
  padding-right: 30%;
  transform-origin: 0 100%;
}
.page .inactive .content {
  opacity: 0.5;
  transform: skewX(18deg) scale(0.95);
}

/* position text */
.up {
  display: flex;
  width: 100%;
}
.down {
  display: flex;
  width: 100%;
}
.side_left {
  display: flex;
  flex-direction: column;
  width: 10%;
}
.side_right {
  display: flex;
  width: 90%;
}

/* title home page  */
.title_custom {
  position: absolute;
  top: 11%;
  right: 29%;
  width: 70%;
  height: 70%;
  padding-left: 12vh;
}
.title_cave {
  top: 22%;
  right: -4%;
}
.title_viticulteurs {
  right: 20%;
}
.title_histoire {
  right: 2%;
}
.title_up {
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  font-size: 139px;
  text-align: center;
  margin-bottom: -4vh;
  text-shadow: 8px 11px 5px #000000a8;
  color: #f5f1f1;
}
.title_mid {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 70px;
  text-align: center;
  padding-top: 4vh;
  margin-bottom: -4vh;
  color: #f5f1f1;
}
.title_mid_chai {
  font-size: 38px;
}
.title_down {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 200px;
  text-align: center;
  text-shadow: 20px 20px 15px #0e0d0d9e;
  color: #f5f1f1;
}
.page_heading {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}
.description {
  font-size: 18px;
  text-align: center;
  margin-top: 50vh;
}

/* illustrations */
.page-1 .left .content {
  background-image: url("../img/viticcio01.jpg");
  background-position: center;
}

.page-2 .right .content {
  background-image: url("../img/bouscat.jpg");
  background-position: center;
}
.page-3 .left .content {
  background-image: url("../img/margerum.jpg");
}
.page-4 .right .content {
  background-image: url("../img/backgroundheader.jpg");
}
.page-5 .left .content {
  background-image: url("../img/bordeaux.jpg");
}
