.container_slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* effect go back */
.slider__wrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: translateX(100vw);
  top: 0%;
  left: 0;
  right: auto;
  overflow: hidden;
  transition-delay: 450ms;
  opacity: 0;
}

.slider__back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: none;
  transition: filter 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.slider__inner {
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 30%;
  border-radius: 7px;
  background-size: auto 133.3333%;
  background-position: center;
  background-repeat: none;
  transform: scale(0.75);
  transition: transform 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
    box-shadow 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
    opacity 450ms step-end;
  padding: 3vh 15vh;
  box-sizing: border-box;
}
.slider__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  width: auto;
  height: 100%;
  padding-top: 2vh;
  transform: translateY(-50%);
  color: white;
  font-family: "Heebo", sans-serif;
  opacity: 0;
  transition: opacity 450ms;
}
.slider__content img{width:20vw;border-radius: 10px;margin-bottom: 2vh;}
.slider__content h1 {
  font-weight: 900;
  font-size: 3vh;
  line-height: 2;
  pointer-events: none;
}
.slider__content p{
  font-size: 2vh;
  line-height: 1.5;
  pointer-events: none;
}
.slider__content .lien {
  cursor: pointer;
  font-size: 2.4vh;
  letter-spacing: 0.3vh;
  font-weight: 100;
  position: relative;
}
/* arrow effect */
.slider__content .lien:before {
  content: "";
  border-top: 1px solid white;
  border-right: 1px solid white;
  display: block;
  width: 2vh;
  height: 2vh;
  transform: translateX(0) translateY(-50%) rotate(45deg);
  position: absolute;
  font-family: "Heebo", sans-serif;
  font-weight: 100;
  top: 50%;
  left: 10vh;
  transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.slider__content .lien:hover:before {
  transform: translateX(4vh) translateY(-50%) rotate(45deg);
  transition: transform 700ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


/* position on cards */
.slider__slide {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: transform 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 600ms;
  pointer-events: none;
  z-index: 0;
}
.direction_row{
  display: flex;
  padding: 1vh;
}
.direction_row .container_insideCard{
  display: flex;
  flex-direction: column;
  min-width: 20vw;
}
.direction_row .liens{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.slider__slide--active {
  transform: translatex(0%);
  z-index: 2;
}
.slider__slide--active .slider__wrap {
  transform: translateX(0);
  opacity: 1;
  -webkit-animation: none;
  animation: none;
}

/* blur effect */
.slider__slide--active .slider__back {
  filter: blur(1.5px);
  transition: filter 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 900ms !important;
}
/* card */
.slider__slide--active .slider__inner {
  transform: scale(0.8);
  box-shadow: 10px 10px 20px #00000045, -7px -6px 20px #2b2b2b59;
  pointer-events: auto;
  opacity: 1;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
 
  background-color: rgba(232, 232, 232, 0.111);
  transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
    box-shadow 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
    opacity 1ms step-end,
    backdrop-filter 900ms,
    background-color 900ms;
  transition-delay: 900ms;
}
/* content card */
.slider__slide--active .slider__content {
  opacity: 1;
  transition-delay: 1000ms;
}
.slider__back{
  background-image: url(https://images.unsplash.com/photo-1464638681273-0962e9b53566?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
  background-size: cover;
}


