#contact {
    overflow: auto;
  }
  #contact #form {
    width:410px;
    float:left;
  }
  #contact #form label {
    display:block;
    float:left;
    width:100px;
    padding-top:5px;
    font-family: "Big Shoulders Display", cursive;
    font-size: 21px;
    letter-spacing: .1vh;
  }
  #contact #form input {
    float:left;
    width:255px;
    border:0px;
    color:#131212;
    padding:10px 10px 10px 30px;
    font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
    margin-bottom:10px;
  }
  #contact #form textarea {
    float:left;
    border:0px;
    width:255px;
    height:140px;
    padding:10px 10px 10px 30px;
    font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
    color:#141414;
    resize: none;
  }
  
  #contact #form input.submit {
    cursor: pointer;
    width: 100px;
    height: 57px;
    padding: 2vh;
    margin: 36px 16px 11px 41px;
    background:#222222;
    color:#F1F1F1;
    font-family: "Big Shoulders Display", cursive;
    font-size: 30px;
    letter-spacing: .1vh;
  }
  .tags{
    width: 13vw;
    margin-bottom:2Vh;
  }
 .message{
     margin-bottom:4vh;
 }
 
  .name{
      margin-top:10vh;
  }


  