/* INDEX FOR SEARCH INSIDE THIS FILE 
-- GOOGLE FONT -- 
-- ROOT -- 
-- ROOT -- 
-- FONTS -- 
-- Z_INDEX -- 
-- OVERLAY --
-- MEDIA QUERY  300+ -- 
-- BASE -- 
  -- SCROLL EFFECT -- 
  -- HEADER --  
-- NAVBAR --
  -- LINK EFFECT HOVER -- 
  -- SHOW NAVBAR--  
  -- MAIN PAGE -- 
  -- TITLE MODIFICATION --  
-- INDEX-ARTICLE CARDWINE and SHOWARTICLE --
  -- indexArticle and --  
  --focus card in showArticle --
  -- focus card in showArticle--
  -- hover imgCardWine effect in indexArticle -- 
  -- image card in showArticle --
  -- link in cardWine in indexArticle --
--- CARDWINE IN SHOWTAG ---
--- FORM LOGIN / SIGN UP ---
  -- PART LOGIN--
  -- PART SIGN UP--
    --  SIGN UP TITLE--
    -- SIGN UP BUTTON--
    -- PART DOWN CLICK "or login"--
    -TEXT DOWN "or login"--
    -- PART LOGIN--
    -- LOGIN BUTTON--
-- ADMIN IN INDEX-ADMIN --
  -- SIDE -- 
  -- ROTATION -- 
  -- ANIMATION BUTTON VIEW MORE -- 
  -- TEXT -- 
  -- "X" BACK CONTAINER  --
  -- BACK INPUT  -- 
  -- TABLE INDEX_ADMIN  --
    card info bottle
    ustom btn
-- FORM IN ADMIN-FORM -- 
  title container title admin form 
  div-from admin bottle 
  inputs*
-- MEDIA QUERY   -- 
  -- MEDIA QUERY  450  -- 
  -- MEDIA QUERY  600  -- 
  -- MEDIA QUERY  700  --
  -- MEDIA QUERY  900  --
  -- MEDIA QUERY  1000 --
  -- MEDIA QUERY  1534  --
*/


/* -- GOOGLE FONT --  
  ===============================  
  =============================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

/* -- for 404 page -- */

@import url("https://fonts.googleapis.com/css?family=Ubuntu");

/* -- ROOT --  
    =============================== */

:root {
    --header-height: 3rem;
    /* -- ROOT -- 
    =============================== */
    --color-title-cookie:#ffd39b;
    --first-color: #b36767;
    --card-color: #a05858;
    --first-color-dark: #b36767;
    --first-color-darken: #a83e51;
    --wite-color: #e9e7e7;
    --h1-color: #464545;
    --h2-color: rgb(173, 84, 84);
    --hover-navbar: #953737b0;
    --loading-color: #d57b7b;
    --background-login-form: #fffefe2c;
    --background-sign-up-form: #fffdfd99;
    /* -- FONTS -- 
    =============================== */
    --body-font: "Poppins", sans-serif;
    --big-font-size: 2.5rem;
    --normal-font-size: 0.938rem;
    --little-font-size: 1.8rem;
    --logo-font-size: 1.5rem;
    --font-a-cardWine: .58rem;
    --font-title-cookie:2rem;
    --font-text-cookie:.8rem;
    /* -- Z_INDEX --  
    =============================== */
    --z-index: 100;
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d57b7b88;
    border-radius: 100%;
    width: 7vh;
    padding: 1vh;
}

.logo {
    width: 4vh;
}

/* -- COOKIE BANNER --
=============================== 
////////////////////////////////
============================== */

#container-cookie-banner {
    position: absolute;
    z-index: 1000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #bcbaba42;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    display: flex;
    justify-content:center;
    align-items: center;
}

.cookie-window {
    display: flex;
    width:90%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 2rem;
    background-color: var(--first-color);
}

.cookie-window img {
    position: absolute;
    top: 8%;
    width: 222px;
    z-index: 0;
    transform: rotate(300deg);
    filter: brightness(70%);
    opacity: .8;

}

.cookie-window h3 {
    text-transform: uppercase;
    position: relative;
    font-family: var(--body-font);
    font-size: var(--font-title-cookie);
    color: var(--color-title-cookie);
    text-shadow: -3px 4px 0px #d57b7b, -7px 9px 0px #b64f4f, -10px 12px 0px #953737;
    margin-bottom: 1rem;
}

.cookie-window p {
    position: relative;
    font-family: var(--body-font);
    font-size: var(--font-text-cookie);
    color: var(--wite-color);
}

.cookie-window p:nth-child(n) {
    margin-bottom: 1rem;
}

.cookie-window a {
    text-decoration: none;
    color: var(--first-color-darken);
    transition: .5s;
}

.cookie-window a:hover {
    color: var(--loading-color);
    transition: .5s;
}
.cookie-window form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* -- flash message-- 
=============================== */
/* flash message in admin */
#flash {
    position: absolute;
    z-index: 10000;
    top: 15%;
    left: 5%;
    width: 90%;
    min-height: 30vh;
    background-color: #b64f4f;
    box-shadow: 3px 3px 6px 1px #8e4747, -2px -2px 4px #e9a3a3;
    border-radius: 12px;
    padding: 3rem;
    font-size: 19px;
}

#flash {
    display: block;
}

#flash>h1 {
    font-size: 25px;
    line-height: 2.2rem;
    margin-bottom: 1rem;
}

#flash>img {
    width: 147px;
    opacity: 1;
    position: relative;
    border-radius: 80px;
    box-shadow: 2px 2px 20px #02020266;
}

#flash>p {
    font-style: italic;
}

/* error message in loginç */
#general-error {
    width: 90%;
}

#general-error {
    display: block;
}

.error {
    border-radius: 12px;
    padding: 1rem;
    font-size: 15px;
    background-color: #ce6060ad;
    box-shadow: 3px 3px 6px 1px #8e4747, -2px -2px 4px #e9a3a3;
    margin-bottom: 1rem;
}

.error li {
    list-style: none;
}


/* -- OVERLAY --
  ===========================  */

.overlay,
.card-container-indexArticle .overlay1 {
    position: absolute;
    width: 100%;
    height: 105%;
    top: 0%;
    z-index: 200;
}

.first,
.second-th,
.third,
.fourth,
.fifth {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #a8a7a73b;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.container-loading-img {
    text-align: center;
    width: 23vw;
}

.container-loading-img img {
    border-radius: 50%;
    box-shadow: 3px 3px 6px 1px #8e4747, -2px -2px 4px #e9a3a3;
}

.loader-59 {
    margin-top: 3vh;
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    transform: rotate(45deg);
}

.loader-59::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: -24px;
    -webkit-animation: animloader59 4s ease infinite;
    animation: animloader59 4s ease infinite;
}

.loader-59::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -webkit-animation: animloader56 2s ease infinite;
    animation: animloader56 2s ease infinite;
}


/* animation for overlay */

@keyframes animloader56 {
    0% {
        transform: translate(0, 0) rotateX(0) rotateY(0);
    }

    25% {
        transform: translate(100%, 0) rotateX(0) rotateY(180deg);
    }

    50% {
        transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
    }

    75% {
        transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
    }

    100% {
        transform: translate(0, 0) rotateX(0) rotateY(360deg);
    }
}

@keyframes animloader59 {
    0% {
        box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    }

    12% {
        box-shadow: 0 24px white, 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    }

    25% {
        box-shadow: 0 24px white, 24px 24px white, 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    }

    37% {
        box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px rgba(255, 255, 255, 0);
    }

    50% {
        box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px white;
    }

    62% {
        box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px white, 24px 48px white, 0px 48px white;
    }

    75% {
        box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px white, 0px 48px white;
    }

    87% {
        box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px white;
    }

    100% {
        box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    }
}


/* -- MEDIA QUERY  300+ -- 
  ===========================*/

@media screen and (min-width: 300px) {

    /* -- BASE --  
   =================================================== 
   ///////////////////////////////////////////////////
  ////////////////////////////////////////////////////
   =================================================== */
    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: var(--header-height) 0 0 0;
        padding: 0;
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        font-weight: 500;
    }

    h1,
    h2,
    h3,
    p,
    ul,
    a {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

    a {
        color: var(--wite-color);
    }

    img {
        max-width: 100%;
        height: auto;
        opacity: 0.87;
    }

    .glass {
        top: 0px;
    }

    .l-main {
        overflow: hidden;
        height: 100vh;
    }

    /* -- SCROLL EFFECT --  
   ========================= */
    .active {
        transform: translate3d(0, 0, 0);
    }

    .inactive {
        opacity: 0.5;
        transform: skewX(18deg) scale(0.95);
    }

    /* -- HEADER --  
   ========================= */
    .bd-grid {
        display: grid;
        grid-template-columns: auto;
        column-gap: 2rem;
        width: calc(100% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .l-header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--z-index);
        background-color: var(--first-color);
        box-shadow: 6px 6px 14px #794444bd;
    }

    /* -- NAVBAR --
==================================================
/////////////////////////////////////////////////
/////////////////////////////////////////////////
================================================= */
    .nav {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100%;
        padding: 3.5rem 1.5rem 0;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: 0.5s;
    }

    .link_burger_nav {
        font-size: 42px;
        margin-left: 2rem;
        width: 100%;
        text-shadow: -5px 5px 0px #d57b7b, -10px 10px 0px #b64f4f, -15px 15px 0px #953737;
    }

    .home-img img {
        top: -25%;
        transition: 0.5s;
        max-width: 200%;
    }

    .nav-close {
        position: absolute;
        top: 0;
        right: 1rem;
        font-size: var(--logo-font-size);
        cursor: pointer;
    }

    .nav-close,
    .nav-link,
    .nav-logo,
    .nav-toggle {
        color: var(--wite-color);
    }

    /* -- LINK EFFECT HOVER --  
    =============================== */
    .nav-link {
        transition: all 0.4s;
        width: 456px;
        height: 73px;
        position: relative;
        cursor: pointer;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

    .nav-link:hover {
        font-size: var(--little-font-size);
        transition-delay: 0.8s;
        transition: 0.5s;
    }

    #logout-custom:hover {
        font-size: 21px;
    }

    .d1,
    .d2 {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--hover-navbar);
        transform: scaleX(0);
        transition: all 0.4s;
        transition-delay: 0.4s;
    }

    .d1 {
        top: 0;
        transform-origin: left;
    }

    .d2 {
        bottom: 0;
        transform-origin: right;
    }

    .nav-link:hover .d1,
    .nav-link:hover .d2 {
        transform: scaleX(1);
        transition-delay: 0s;
        transition: 0.5s;
    }

    .d3,
    .d4 {
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0%;
        background-color: var(--hover-navbar);
        transform: scaleY(0);
        transition: all 0.4s;
    }

    .d3 {
        left: 0;
        transform-origin: bottom;
    }

    .d4 {
        right: 0;
        transform-origin: top;
    }

    .nav-link:hover .d3,
    .nav-link:hover .d4 {
        transform: scaleY(1);
        transition-delay: 0.4s;
    }

    .nav-toggle {
        font-size: var(--logo-font-size);
        cursor: pointer;
    }

    /* -- SHOW NAVBAR--  
    =============================== */
    .show {
        right: 0;
    }

    /* -- MAIN PAGE --  
    =============================== */
    .home {
        background-color: var(--first-color);
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .home-container {
        height: calc(110vh - var(--header-height));
        grid-template-rows: repeat(2, max-content);
        row-gap: 1.5rem;
    }

    .home-img {
        position: relative;
        justify-self: center;
        width: 302px;
        height: 360px;
    }

    .home-img img {
        position: absolute;
        top: 0;
        left: -19%;
    }

    .home-data {
        color: var(--wite-color);
        position: relative;
    }


    /* -- TITLE MODIFICATION -- 
    =============================== */
    .home-title-up {
        font-size: 4rem;
        color: var(--h1-color);
        text-shadow: -5px 5px 0px #d57b7b, -10px 10px 0px #b64f4f, -15px 15px 0px #953737;
    }

    .home-title-mid {
        font-size: var(--little-font-size);
        position: absolute;
        top: 25%;
        left: 24%;
        transform: translate(-50%, -50%);
    }

    .home-title {
        font-size: var(--big-font-size);
        margin-top: -1rem;
        color: var(--h1-color);
        text-shadow: -5px 5px 0px #d57b7b, -10px 10px 0px #b64f4f, -15px 15px 0px #953737;
        margin-bottom: 1rem;
    }

    .home-paragraphe {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-size: var(--normal-font-size);
    }

    .home-button {
        display: inline-block;
        background-color: var(--h1-color);
        color: var(--wite-color);
        padding: 1.125rem 2rem;
        border-radius: 0.5rem;
        box-shadow: 2px 4px 5px #562e2ea8, -1px -1px 5px #cf7878;
        transition: 0.5s;
    }

    .home-button:hover {
        transform: scale(1.2);
        box-shadow: inset 4px 4px 7px #834242, inset -3px -3px 6px #ba6f6f;
        transition: 0.5s;
    }

    /* -- INDEX-ARTICLE CARDWINE and SHOWARTICLE --
   ===================================================
   ///////////////////////////////////////////////////
  //////////////////////////////////////////////////// 
   =================================================== */
    /* -- indexArticle and --  
   =============================== */
    .card-container-indexArticle {
        padding: 3rem .5rem;
        position: relative;
        background-color: var(--first-color);
        display: flex;
        flex-direction: column;
        overflow: scroll;
        height: 100vh;
    }

    .title-container-indexArticle {
        display: flex;
        justify-content: center;
        font-family: var(--body-font);
        font-size: 4rem;
        color: var(--h1-color);
        text-shadow: -5px 5px 0px #d57b7b, -10px 10px 0px #b64f4f, -15px 15px 0px #953737;
        margin-bottom: 2rem;

    }

    .container-card {
        display: flex;
        padding: 1rem;
        width: 100%;
        height: auto;
        margin-bottom: 3rem;
        border-radius: 7px;
        box-shadow: 20px 20px 60px #884b4b, -20px -20px 60px #b86565;
    }

    .juste-for-border {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        border: 1px solid rgba(240, 239, 237, 0.384);
        border-radius: 7px;
        box-shadow: 20px 20px 60px #884b4b, -20px -20px 60px #b86565;

    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
        border-radius: 12px;
        margin: 6vh 3vw;
        transition: 0.3s;
        transform: scale(1);
    }

    .container-cardWine-focus {
        background-color: var(--first-color);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    /* -- focus card in showArticle-- 
   ===============================  */
    .card-cardWine-focus {
        background: var(--card-color);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 90vh;
        overflow: scroll;
        margin: 0;
        border-radius: 12px;
        box-shadow: 20px 25px 60px #562e2ea8, -20px -20px 60px #cf7878;
    }

    /* -- hover imgCardWine effect in indexArticle -- 
   =============================== */
    .card img {
        transition: transform 0.3s, filter 0.8s ease-in-out;
        transform-origin: center center;
        border-radius: 12px;
        max-height: 44vh;
        box-shadow: 11px 12px 21px #94545494, -12px -12px 20px #b5636375;
    }


    /* -- image card in showArticle --
   =============================== */
    #img-cardWine {
        max-width: 100%;
        max-height: 77vh;
        border-radius: 20px;
        box-shadow: 3px 4px 6px #562f2f, -3px -3px 7px #21111147;
    }

    .body-card {
        position: absolute;
        top: 66%;
        background-color: rgba(196, 192, 192, 0.199);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        flex-direction: column;
        padding: 1rem;
        border-radius: 10px;
        margin: 2rem;
        text-align: center;
    }

    .body-card img {
        width: 3vh;

    }

    .container-links-showcard {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 15vh;
        width: 100%;
    }

    .info-bottle {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 3rem;
        padding: 2rem;
        background-color: var(--loading-color);
        box-shadow: 3px 4px 3px #7541419c, -3px -3px 7px #5f393947;
        border-radius: 10px;
    }

    #homme-picture {
        position: relative;
    }

    .info-bottle #picture-man {
        border-radius: 17px;
    }

    .info-bottle #homme-picture {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #text {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        z-index: 2;
    }

    #text img {
        max-width: 100px;
    }


    /* showarticle */
    #body-card-custom {
        padding: 2.5rem;
        width: 80%;
        text-align: left;
        border-radius: 60px;
    }

    #body-card-custom img {
        width: 3vh;
    }

    #colorWine {
        margin-top: 2rem;
        padding: 0.5vh;
        border-radius: 10px;
        margin-bottom: 2rem;
    }

    .card-title {
        font-size: 20px;
        border-bottom: 1px solid rgb(88, 22, 22);
    }

    .card-text {
        font-size: 12px;
        margin-top: 1rem;
        padding: 0.5rem;
        border-bottom: 1px solid rgb(88, 22, 22);
    }

    /* -- link in cardWine in indexArticle --
   ===============================  */

    .container-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-links img {
        display: none;
    }

    #link-show-bottle {
        margin-bottom: 2rem;
    }

    .container-btn-cardWine a {
        padding: .8rem;
        background-color: #485c71;
        font-size: var(--font-a-cardWine);
        transition: 0.5s;
        box-shadow: 3px 3px 3px #5f5c5cb3, -2px -3px 8px #a2a2a2b8;
        border-radius: 7px;
    }

    .container-btn-cardWine a:hover {
        transition: 0.5s;
        border-radius: 20px;
        background-color: var(--first-color-darken);
        box-shadow: 3px 3px 3px #5f5c5cb3, -2px -3px 8px #a2a2a2b8;
    }

    .container-btn-cardWine .showcard {
        display: flex;
        align-items: center;

    }

    .container-btn-cardWine a .arrow {
        width: 2vw;
        margin-left: 1rem;
        box-shadow: none;
    }



    /* --- CARDWINE IN SHOWTAG ---
  ==================================================
  /////////////////////////////////////////////////
  /////////////////////////////////////////////////
  ================================================= */

    .container-cardWine-showTag {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--first-color);
        flex-direction: column;
        padding: 3rem;
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    .card-cardWine-showTag {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 2rem;
    }

    .card-cardWine-showTag img {
        border-radius: 20px;
        box-shadow: 20px 25px 60px #562e2ea8, -20px -20px 60px #cf7878;
    }

    .card-cardWine-showTag a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: var(--big-font-size);
        cursor: pointer;
        text-shadow: -5px 5px 0px #d57b7b, -10px 10px 0px #b64f4f, -15px 15px 0px #953737;
    }

    /* --- FORM LOGIN / SIGN UP ---
  ==================================================
  /////////////////////////////////////////////////
  /////////////////////////////////////////////////
  ================================================= */
    /* -- PART LOGIN--
    ==================================================
  ///////////////////////////////////////////////// */
    .main-formLogin {
        min-height: 100vh;
        background-color: var(--first-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1000px;
        margin: 10rem auto 0;
        padding: 10px 10px 100px 10px;
    }

    .accordion {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .accordion .a-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-bottom: 5px;
    }

    .accordion .a-container .a-btn {
        margin: 0;
        position: relative;
        text-align: center;
        padding: 15px 30px;
        width: 100%;
        color: #bdbdbd;
        font-weight: 400;
        display: block;
        font-weight: 500;
        background-color: #262626;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1) !important;
    }

    .accordion .a-container .a-btn span {
        display: block;
        position: absolute;
        height: 14px;
        width: 14px;
        right: 20px;
        top: 18px;
    }

    .accordion .a-container .a-btn span:after {
        content: "";
        width: 14px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        position: absolute;
        top: 6px;
    }

    .accordion .a-container .a-btn span:before {
        content: "";
        width: 14px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        position: absolute;
        top: 6px;
        transform: rotate(90deg);
        transition: all 0.3s ease-in-out;
    }

    .accordion .a-container .a-panel {
        width: 100%;
        color: #262626;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        height: auto;
        max-height: 0;
        overflow: hidden;
        padding: 0px 10px;
    }

    .accordion .a-container.active .a-btn {
        color: #fff;
    }

    .accordion .a-container.active .a-btn span::before {
        transform: rotate(0deg);
    }

    .accordion .a-container.active .a-panel {
        padding: 15px 10px 10px 10px;
        opacity: 1;
        max-height: 500px;
    }

    /* into login form*/
    .form-log input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-color: rgba(255, 255, 255, 0.2);
        width: 250px;
        border-radius: 3px;
        padding: 10px 15px;
        margin: 0 auto 10px auto;
        display: block;
        text-align: center;
        font-size: 18px;
        color: white;
        transition-duration: 0.25s;
        font-weight: 300;
    }

    .form-log input:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }

    .form-log input:focus {
        background-color: white;
        color: #53e3a6;
    }

    .form-log button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        background-color: white;
        border: 0;
        padding: 10px 15px;
        color: #53e3a6;
        border-radius: 3px;
        width: 250px;
        cursor: pointer;
        font-size: 18px;
        transition-duration: 0.25s;
    }

    .form-log button:hover {
        background-color: #f5f7f9;
    }

    /* -- ADMIN IN INDEX-ADMIN -- 
    ==================================================
  /////////////////////////////////////////////////
  /////////////////////////////////////////////////
  ================================================= */
    .container-general {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--first-color);
        width: 100%;
    }

    .container-card-admin {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #container {
        perspective: 800px;
        position: relative;
        margin: 2rem;
        width: 325px;
        height: 500px;
        transform-style: preserve-3d;
        transition: transform 5s;
    }

    .card-admin {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden;
        transform-style: preserve-3d;
        transition: 1000ms ease-out;
        border-radius: 30px;
        box-shadow: 4px 4px 15px #6e3c3c, -4px -4px 15px #ce8181;
    }

    /* -- SIDE -- 
  ===============*/
    .front,
    .back {
        width: 100%;
        height: 100%;
        background: #fff;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 100ms ease-out;
    }

    .front {
        background-image: url("../img/img-user-admin/admin_grampa.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .back {
        padding-top: 1vh;
    }

    .back {
        display: none;
        transform: rotateY(180deg);
        animation: anime 0.6s;
        transition: all 100ms ease-out;
    }

    @keyframes anime {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* -- ROTATION -- 
  ===========================*/
    .rotate {
        transform: rotateY(180deg);
        transition: 1000ms ease-out;
    }

    /* -- ANIMATION BUTTON VIEW MORE -- 
  ===========================*/
    .image_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #81555594;
        opacity: 0;
        transition: 0.5s;
    }

    .card-admin:hover .image_overlay {
        opacity: 0.7;
        transition: all 200ms ease-out;
    }

    #details-card {
        position: absolute;
        top: 112px;
        left: 50%;
        margin-left: -85px;
        border: 2px solid #fff;
        color: #fff;
        font-size: 19px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 0;
        width: 172px;
        opacity: 1;
        transition: all 200ms ease-out;
    }

    .card-admin:hover #details-card {
        background: #fff;
        color: #c83f3fd5;
        cursor: pointer;
        opacity: 1;
        font-size: 15px;
        transition: all 200ms ease-out;
    }

    /* -- TEXT -- 
  ===========================*/
    .text-container {
        background: #fff;
        position: absolute;
        text-transform: uppercase;
        line-height: 3vh;
        text-align: center;
        top: 350px;
        width: 90%;
        padding: 2vh;
        transition: all 500ms ease-out;
    }

    .text-container .title {
        font-size: 22px;
        color: #393c45;
    }

    .text-container p {
        font-size: 16px;
        color: #b1b1b3;
    }

    /* -- "X" BACK CONTAINER  -- 
  ===========================*/
    #flip-back {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    #cx,
    #cy {
        background: #d2d5dc;
        position: absolute;
        width: 0px;
        top: 15px;
        right: 15px;
        height: 3px;
        transition: all 250ms ease-in-out;
    }

    #cx {
        right: 0;
        width: 30px;
        transform: rotate(50deg);
    }

    #cy {
        right: 0;
        width: 30px;
        transform: rotate(130deg);
    }

    #flip-back:hover #cx,
    #flip-back:hover #cy {
        background: #979ca7;
        transition: all 250ms ease-in-out;
    }

    /* -- BACK INPUT  -- 
  ===========================*/
    .input-container {
        padding: 2vh;
    }

    .form {
        background: #ffffff;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
    }

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4caf50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #ffffff;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    .form button:hover {
        background: #43a047;
    }

    /* -- TABLE INDEX_ADMIN  -- 
  ===========================*/
    .container-card-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15vh;
        padding: 2vh;
        width: 100%;
        border-radius: 20px;
    }

    /* card info bottle */
    .card-info-admin {
        position: relative;
        background-color: var(--first-color);
        width: 100%;
        height: 49vh;
        padding: 1rem;
        font-size: 12px;
        margin-bottom: 2rem;
        border-radius: 12px;
        box-shadow: 2px 2px 13px #442424a8, -2px -2px 10px #984747;
    }

    .card-info-admin .custom-card-adminIndex {
        position: absolute;
        padding: .5rem .5rem .5rem 1rem;
        top: 0%;
        left: 0%;
        background-color: #d4d4d445;
        filter: blur(5px);
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        justify-content: center;
        align-items: flex-start;

    }

    .card-info-admin .custom-card-adminIndex .row {
        border-bottom: .5px solid black;
    }

    .card-info-admin .custom-card-adminIndex .row img {
        width: 20px;
        margin-right: .5rem;
    }

    .imag-card-wine {
        height: 100%;
        border-radius: 12px;
    }

    #card-info {
        width: 100%;
        margin: 0;
    }

    .container-back-info-indexAdmin {
        margin-top: 2rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    .from {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    /* custom btn  */
    .btn-cancel,
    .btn-modify,
    .btn-create {
        padding: 0.5rem;
        border-radius: 7px;
        color: black;
        background-color: var(--first-color-dark);
        box-shadow: 3px 3px 6px #562e2ec2, -1px -1px 4px #c19393eb;
        font-size: 1.2rem;
        transition: 0.5s;
        border: none;
    }

    #btn-create-custom {
        margin: 1rem 0 2rem;
        padding: 1rem;
        font-size: var(--logo-font-size);
        text-shadow: -4px 4px 0px #d57b7b, -8px 8px 0px #b64f4f, -6px 6px 0px #953737;
    }

    .btn-cancel:hover,
    .btn-modify:hover,
    .btn-create:hover {
        transition: 0.5s;
        border-radius: 20px;
        background-color: var(--first-color-darken);
    }

    /* -- FORM IN ADMIN-FORM -- 
    ==================================================
  /////////////////////////////////////////////////
  /////////////////////////////////////////////////
  ================================================= */
    .container-form-admin {
        background-color: var(--first-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    /* title container title admin form  */
    .container-form-admin-title {
        padding: 1rem;
    }

    #title-up {
        margin-bottom: 1rem;
    }

    .title-admin-bottle-id {
        background-color: var(--loading-color);
        border-radius: 12px;
        box-shadow: -4px 4px 6px #562e2e45, 2px -2px 4px #b16666eb;
        text-align: center;
        padding: 1rem;
    }

    #title-down {
        margin-top: 0;
    }

    /* div-from admin bottle */
    #form {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    /*inputs*/
    .font_span {
        font-size: 12px;
        text-align: left;
        margin-left: 0.45rem;
        margin-bottom: 0.25rem;
    }

    #form input,
    #form textarea,
    #form select,
    #form button,
    #form a {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2c3e50;
        font-size: 13px;
    }

    #form .message {
        height: 10rem;
    }

    #form .form-select,
    #form .btn {
        font-size: 12px;
        font-family: var(--body-font);
        margin-bottom: 1rem;
    }

    #form .btn:hover {
        background-color: var(--card-color);
    }

    .banner_error {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2c3e50;
        height: 20vh;
        width: 50%;
        border-radius: 12px;
    }
}


/*   -- MEDIA QUERY   -- 
 ==================================================
  /////////////////////////////////////////////////
  /////////////////////////////////////////////////
  ================================================= */


/* -- MEDIA QUERY  450  -- 
  ===========================*/

@media screen and (min-width: 450px) {
    /* cookie banner */
    .cookie-window {
        width: 430px;
    }
    .card-info-admin {
        width: 70%;
    }

    /* cardShowTag */
    .container-cardWine-showTag {
        padding: 6rem;
    }
}


/* -- MEDIA QUERY  600  -- 
  ===========================*/

@media screen and (min-width: 600px) {
    .home-img img {
        top: 26%;
        transition: 0.5s;
    }

    /* carwine bottle index */
    .container-card {
        padding: 3rem;
    }

    .container-links img {
        display: flex;
        width: 24vh;
    }

    /* in login form */
    .home-img-formLogin img {
        position: absolute;
        top: 5%;
        left: 0;
    }

    .form-structor .login .center .form-holder .input {
        height: 50px;
        font-size: 16px;
    }

    .form-structor .signup .form-holder .input {
        height: 60px;
        font-size: 16px;
    }

    /* card info admin */
    .card-info-admin {
        width: 60%;
    }
}




/*  -- MEDIA QUERY  700  --
    =============================== */

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 6rem;
        --normal-font-size: 1rem;
    }
    
    .card {
        width: 50%;
    }

    .juste-for-border {
        padding: 1rem 4rem;
        flex-direction: row;
        align-items: center;
    }

    /* card info admin */
    .container-general {
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        height: 100vh;
        overflow: hidden;
    }

    .container-card-admin {
        width: 50%;
    }

    .container-card-info {
        padding: 1rem 0;
        overflow: scroll;
        height: 100vh;
        width: 40%;
    }

    .card-info-admin {
        width: 80%;
        flex-wrap: wrap;
    }

    /* form admin input */
    #form input,
    #form textarea,
    #form select,
    #form button,
    #form a {
        width: 50vh;
    }
}


/* -- MEDIA QUERY  900 --
    =============================== */

@media screen and (min-width: 905px) {

    body {
        margin: 0;
        transition: 0.5s;
    }

    /* error in login form  */
    .general-error {
        top: 29%;
    }

    .nav {
        height: calc(var(--header-height) + 3.5rem);
    }

    .nav-menu {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem;
        right: 0;
        padding: 1rem;
        background: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }

    .log-out {
        padding-left: 1rem;
        width: 160px;
    }

    .link_burger_nav {
        font-size: 26px;
        margin-left: -1rem;
        width: 100%;
        text-shadow: -3px 3px 0px #d57b7b, -7px 7px 0px #b64f4f, -9px 9px 0px #953737;
    }

    .center {
        margin-top: -1rem;
        text-align: center;
    }

    .nav-link {
        width: 140px;
    }

    .nav-toggle,
    .nav-close {
        display: none;
    }

    .nav-list {
        display: flex;
        padding: 1rem;
    }

    .nav-item {
        margin-left: 2rem;
        margin-bottom: 0;
    }

    .home-container {
        height: 100vh;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: 1fr;
        row-gap: 0;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }

    .home-img {
        order: 1;
        width: 376px;
        height: 489px;
    }

    .home-img img {
        width: 775px;
        top: -30%;
        left: -60%;
    }

    /* login-form */
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1000px;
        margin: 7rem auto 0;
    }

    .main-formLogin {
        padding: 4rem 1rem;
    }

    #img-cardWine {
        max-width: 30%;
    }

    /* index article */
    .card-container-indexArticle {
        align-items: center;
        margin-top: 6rem;
    }

    .title-container-indexArticle {
        font-size: 6rem;
    }

    #body-card-custom {
        width: 100%;
    }

    .container-card {
        max-width: 70%;
    }

    .container-links {
        width: 80%;
    }

    /* indexArticle */
    .card-cardWine-focus {
        margin-top: 4rem;
    }

    .card-cardWine-focus .img-description {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 2rem;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    #text {
        align-items: baseline;
        position: relative;
        margin: 2rem 1rem;
    }

    #text img {
        position: absolute;
        max-width: 250px;
        top: -30%;
        left: 58%;
    }

    #text h2 {
        font-size: 55px;
        margin-bottom: 2rem;
    }


    /* showTag */
    .container-cardWine-showTag {
        padding: 12rem;
    }

    /* container in formAdmin */
    .container-form-admin-title {
        margin-top: 3rem;
    }

}



/* -- MEDIA QUERY  1000 --
    =============================== */

@media screen and (min-width: 1024px) {
    /* cookie banner */
    

    #flash {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .home-container {
        column-gap: 4.5rem;
    }

    .home-img {
        width: 604px;
        height: 766px;
    }

    .home-img img {
        width: 750px;
        left: -25%;
        top: -1%;
    }

    /* img background login form */
    #bottle {
        top: -57%;
        left: 4%;
    }

    .home-img-formLogin img {
        top: -60%;
        left: -12%;
        transition: 0.5s;
    }

    .form-structor {
        height: 650px;
        width: 400px;
    }

    /* admin page */
    #container {
        max-width: 325px;
    }

    .card-info-admin {
        max-width: 424px;
    }

    /* adminShowTag */
    .container-cardWine-showTag {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 6rem 0;
    }

    .card-cardWine-showTag {
        width: 25vw;
        margin: 3rem;
        filter: brightness(70%);
        transition: 0.3s;
        margin-bottom: 0;
    }

    .card-cardWine-showTag img {
        max-height: 70vh;
    }

    .card-cardWine-showTag:hover {
        filter: brightness(100%);
        transition: 0.3s;
    }

    .card-cardWine-showTag a {
        font-size: 50px;
    }
}

/* -- MEDIA QUERY  1534  -- 
  ===========================*/

@media screen and (min-width: 1200px) {
    #text {
        margin: 2rem 3rem;

    }

    #text img {
        position: absolute;
        top: -15%;
        left: 44%;
    }

    #text h2 {
        font-size: 60px;
    }

    #text p {
        padding: 2rem;
    }
}

/* -- MEDIA QUERY  1534  -- 
  ===========================*/

@media screen and (min-width: 1534px) {
    .card-cardWine-showTag img {
        min-height: 70vh;
    }

    .card-cardWine-showTag a {
        font-size: 70px;
    }

    /* showArticle */
    #img-cardWine {
        margin-left: 12rem;
    }

    #body-card-custom {
        width: 40%;
    }

    #text {
        padding: 4rem;
    }

    #text img {}

    #text h2 {
        font-size: 60px;
    }


}