/* INDEX FOR SEARCH INSIDE THIS FILE 
-- GOOGLE FONT -- 
-- ROOT -- 
-- ROOT -- 
-- FONTS -- 
-- Z_INDEX -- 
-- OVERLAY --
-- MEDIA QUERY  300+ -- 
-- BASE -- 
  -- SCROLL EFFECT -- 
  -- HEADER --  
-- NAVBAR --
  -- LINK EFFECT HOVER -- 
  -- SHOW NAVBAR--  
  -- MAIN PAGE -- 
  -- TITLE MODIFICATION --  
-- INDEX-ARTICLE CARDWINE and SHOWARTICLE --
  -- indexArticle and --  
  --focus card in showArticle --
  -- focus card in showArticle--
  -- hover imgCardWine effect in indexArticle -- 
  -- image card in showArticle --
  -- link in cardWine in indexArticle --
--- CARDWINE IN SHOWTAG ---
--- FORM LOGIN / SIGN UP ---
  -- PART LOGIN--
  -- PART SIGN UP--
    --  SIGN UP TITLE--
    -- SIGN UP BUTTON--
    -- PART DOWN CLICK "or login"--
    -TEXT DOWN "or login"--
    -- PART LOGIN--
    -- LOGIN BUTTON--
-- ADMIN IN INDEX-ADMIN --
  -- SIDE -- 
  -- ROTATION -- 
  -- ANIMATION BUTTON VIEW MORE -- 
  -- TEXT -- 
  -- "X" BACK CONTAINER  --
  -- BACK INPUT  -- 
  -- TABLE INDEX_ADMIN  --
    card info bottle
    ustom btn
-- FORM IN ADMIN-FORM -- 
  title container title admin form 
  div-from admin bottle 
  inputs*
-- MEDIA QUERY   -- 
  -- MEDIA QUERY  450  -- 
  -- MEDIA QUERY  600  -- 
  -- MEDIA QUERY  700  --
  -- MEDIA QUERY  900  --
  -- MEDIA QUERY  1000 --
  -- MEDIA QUERY  1534  --
*/


/* -- GOOGLE FONT --  
  ===============================  
  =============================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

/* -- for 404 page -- */

@import url("https://fonts.googleapis.com/css?family=Ubuntu");

/* -- ROOT --  
    =============================== */

:root {
    --header-height: 3rem;
    /* -- ROOT -- 
    =============================== */
    --first-color: #b36767;
    --card-color: #a05858;
    --first-color-dark: #b36767;
    --first-color-darken: #a83e51;
    --wite-color: #fcf8f8;
    --h1-color: #464545;
    --h2-color: rgb(173, 84, 84);
    --hover-navbar: #953737b0;
    --loading-color: #d57b7b;
    --background-login-form: #fffefe2c;
    --background-sign-up-form: #fffdfd99;
    /* -- FONTS -- 
    =============================== */
    --body-font: "Poppins", sans-serif;
    --big-font-size: 2.5rem;
    --normal-font-size: 0.938rem;
    --little-font-size: 1.8rem;
    --logo-font-size: 1.5rem;
    --font-a-cardWine: .68rem;
    /* -- Z_INDEX --  
    =============================== */
    --z-index: 100;
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d57b7b88;
    border-radius: 100%;
    width: 7vh;
    padding: 1vh;
}

.logo {
    width: 4vh;
}


/* -- OVERLAY --
  ===========================  */

.overlay,
.card-container-indexArticle .overlay1 {
    position: absolute;
    width: 100%;
    height: 170%;
    top: 0%;
    z-index: 200;
}

.first,
.second-th,
.third,
.fourth,
.fifth {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #a8a7a73b;
    backdrop-filter: blur(4px);
}

.container-loading-img {
    text-align: center;
    width: 23vw;
}

.container-loading-img img {
    border-radius: 50%;
    box-shadow: 3px 3px 6px 1px #8e4747, -2px -2px 4px #e9a3a3;
}

.loader-59 {
    margin-top: 3vh;
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    transform: rotate(45deg);
}

.loader-59::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: -24px;
    -webkit-animation: animloader59 4s ease infinite;
    animation: animloader59 4s ease infinite;
}

.loader-59::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -webkit-animation: animloader56 2s ease infinite;
    animation: animloader56 2s ease infinite;
}


/* animation for overlay */

@keyframes animloader56 {
    0% {
        transform: translate(0, 0) rotateX(0) rotateY(0);
    }

    25% {
        transform: translate(100%, 0) rotateX(0) rotateY(180deg);
    }

    50% {
        transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
    }

    75% {
        transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
    }

    100% {
        transform: translate(0, 0) rotateX(0) rotateY(360deg);
    }
}

@keyframes animloader59 {
    0% {
        box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    }

    12% {
        box-shadow: 0 24px white, 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    }

    25% {
        box-shadow: 0 24px white, 24px 24px white, 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    }

    37% {
        box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px rgba(255, 255, 255, 0);
    }

    50% {
        box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px white;
    }

    62% {
        box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px white, 24px 48px white, 0px 48px white;
    }

    75% {
        box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px white, 0px 48px white;
    }

    87% {
        box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px white;
    }

    100% {
        box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
    }
}


/* -- MEDIA QUERY  300+ -- 
  ===========================*/

@media screen and (min-width: 300px) {

    /* -- BASE --  
   =================================================== 
   ///////////////////////////////////////////////////
  ////////////////////////////////////////////////////
   =================================================== */
    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: var(--header-height) 0 0 0;
        padding: 0;
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        font-weight: 500;
    }

    h1,
    h2,
    h3,
    p,
    ul,
    a {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

    a {
        color: var(--wite-color);
    }

    img {
        max-width: 100%;
        height: auto;
        opacity: 0.87;
    }

    .glass {
        top: 0px;
    }

    .l-main {
        overflow: hidden;
        height: 100vh;
    }

    /* -- SCROLL EFFECT --  
   ========================= */
    .active {
        transform: translate3d(0, 0, 0);
    }

    .inactive {
        opacity: 0.5;
        transform: skewX(18deg) scale(0.95);
    }

    /* -- HEADER --  
   ========================= */
    .bd-grid {
        display: grid;
        grid-template-columns: auto;
        column-gap: 2rem;
        width: calc(100% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .l-header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--z-index);
        background-color: var(--first-color);
        box-shadow: 6px 6px 14px #794444bd;
    }

    /* -- NAVBAR --
==================================================
/////////////////////////////////////////////////
/////////////////////////////////////////////////
================================================= */
    .nav {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 3.5rem 1.5rem 0;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        transition: 0.5s;
    }

    .home-img img {
        top: -25%;
        transition: 0.5s;
        max-width: 200%;
    }

    .nav-close {
        position: absolute;
        top: 0;
        right: 1rem;
        font-size: var(--logo-font-size);
        cursor: pointer;
    }

    .nav-close,
    .nav-link,
    .nav-logo,
    .nav-toggle {
        color: var(--wite-color);
    }

    /* -- LINK EFFECT HOVER --  
    =============================== */
    .nav-link {
        transition: all 0.4s;
        width: 105px;
        height: 45px;
        position: relative;
        cursor: pointer;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-link:hover {
        font-size: var(--little-font-size);
        transition-delay: 0.8s;
        transition: 0.5s;
    }

    #logout-custom:hover {
        font-size: 21px;
    }

    .d1,
    .d2 {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--hover-navbar);
        transform: scaleX(0);
        transition: all 0.4s;
        transition-delay: 0.4s;
    }

    .d1 {
        top: 0;
        transform-origin: left;
    }

    .d2 {
        bottom: 0;
        transform-origin: right;
    }

    .nav-link:hover .d1,
    .nav-link:hover .d2 {
        transform: scaleX(1);
        transition-delay: 0s;
        transition: 0.5s;
    }

    .d3,
    .d4 {
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0%;
        background-color: var(--hover-navbar);
        transform: scaleY(0);
        transition: all 0.4s;
    }

    .d3 {
        left: 0;
        transform-origin: bottom;
    }

    .d4 {
        right: 0;
        transform-origin: top;
    }

    .nav-link:hover .d3,
    .nav-link:hover .d4 {
        transform: scaleY(1);
        transition-delay: 0.4s;
    }

    .nav-toggle {
        font-size: var(--logo-font-size);
        cursor: pointer;
    }

    /* -- SHOW NAVBAR--  
    =============================== */
    .show {
        right: 0;
    }

    /* -- MAIN PAGE --  
    =============================== */
    .home {
        background-color: var(--first-color);
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .home-container {
        height: calc(110vh - var(--header-height));
        grid-template-rows: repeat(2, max-content);
        row-gap: 1.5rem;
    }

    .home-img {
        position: relative;
        justify-self: center;
        width: 302px;
        height: 360px;
    }

    .home-img img {
        position: absolute;
        top: 0;
        left: -19%;
    }

    .home-data {
        color: var(--wite-color);
        position: relative;
    }

    /* -- TITLE MODIFICATION -- 
    =============================== */
    .home-title-up {
        font-size: 4rem;
        color: var(--h1-color);
        text-shadow: -5px 5px 0px #d57b7b, -10px 10px 0px #b64f4f, -15px 15px 0px #953737;
    }

    .home-title-mid {
        font-size: var(--little-font-size);
        position: absolute;
        top: 24%;
        left: 15%;
        transform: translate(-50%, -50%);
    }

    .home-title {
        font-size: var(--big-font-size);
        margin-top: -2rem;
        color: var(--h1-color);
        text-shadow: -5px 5px 0px #d57b7b, -10px 10px 0px #b64f4f, -15px 15px 0px #953737;
        margin-bottom: 1rem;
    }

    .home-paragraphe {
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        font-size: var(--normal-font-size);
    }

    .home-button {
        display: inline-block;
        background-color: var(--first-color-dark);
        color: var(--wite-color);
        padding: 1.125rem 2rem;
        border-radius: 0.5rem;
        box-shadow: 2px 4px 5px #562e2ea8, -1px -1px 5px #cf7878;
        transition: 0.5s;
    }

    .home-button:hover {
        transform: scale(1.2);
        box-shadow: inset 4px 4px 7px #834242, inset -3px -3px 6px #ba6f6f;
        transition: 0.5s;
    }

    /* -- INDEX-ARTICLE CARDWINE and SHOWARTICLE --
   ===================================================
   ///////////////////////////////////////////////////
  //////////////////////////////////////////////////// 
   =================================================== */
    /* -- indexArticle and --  
   =============================== */
    .card-container-indexArticle {
        padding-top: 3rem;
        position: relative;
        background-color: var(--first-color);
        display: flex;
        flex-direction: column;
        overflow: scroll;
        height: 100vh;
    }

    .container-card {
        display: flex;
        padding: 3rem;
        width: 100%;
        height: auto;
    }
    .juste-for-border{
        padding:2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        border: 1px solid rgba(240, 239, 237, 0.384);
        border-radius: 7px;
        
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        margin-bottom: 2rem;
        border-radius: 12px;
        margin: 6vh 3vw;
        transition: 0.3s;
        transform: scale(1);
    }

    .container-cardWine-focus {
        background-color: var(--first-color);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    /* -- focus card in showArticle-- 
   ===============================  */
    .card-cardWine-focus {
        background: var(--card-color);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 90vh;
        overflow: scroll;
        margin: 0;
        border-radius: 12px;
        box-shadow: 20px 25px 60px #562e2ea8, -20px -20px 60px #cf7878;
    }
   
    /* -- hover imgCardWine effect in indexArticle -- 
   =============================== */
    .card img {
        transition: transform 0.3s, filter 0.8s ease-in-out;
        transform-origin: center center;
        border-radius: 12px;
        max-height: 44vh;
        box-shadow: 11px 12px 21px #94545494, -12px -12px 20px #b5636375;
    }


    /* -- image card in showArticle --
   =============================== */
    #img-cardWine {
        max-width: 90%;
        max-height: 77vh;
        border-radius: 20px;
    }

    .body-card {
        background-color:transparent;
        flex-direction: column;
        padding: 1rem;
        border-radius: 10px;
        margin: 2rem;
        text-align: center;
    }
    .body-card img{
        width: 3vh;
        
    }
    .info-bottle{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        padding: 6rem;
        background-image: url(../img/background-showcardewine.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
    .info-bottle img{
        position: absolute;
        top: 26%;
        left: 14%;
        width: 11vh;
        height: 11vh;
        border-radius: 50px;
    }
    .info-bottle .carte{
        height: 20vh;
        position: absolute;
        top: -10%;
        left: 60%;
        width: 20vh;
    }
    .info-bottle a {
        position:absolute;
        top: 59%;
        left: 23%;
        display: flex;
        align-items: center;
        padding: .8rem;
        border-radius: 7px;
        background-color: #485c71;
        font-size: var(--font-a-cardWine);
        transition: 0.5s;
    }
    .info-bottle a:hover{
        transition: 0.5s;
        border-radius: 20px;
        background-color: var(--first-color-darken);
    }

    #body-card-custom {
        padding: 2.5rem;
        width: 80%;
        text-align: left;
        border-radius: 60px;
    }

    #colorWine {
        margin-top: 2rem;
        padding: 0.5vh;
        border-radius: 10px;
        margin-bottom: 2rem;
    }

    .card-title {
        font-size: 20px;
        border-bottom: 1px solid rgb(88, 22, 22);
    }

    .card-text {
        font-size: 12px;
        margin-top: 1rem;
        padding: 0.5rem;
        border-bottom: 1px solid rgb(88, 22, 22);
    }

    /* -- link in cardWine in indexArticle --
   ===============================  */

   .container-links{
       width: 100%;
       display:flex;
       flex-direction: column;
   }
   .container-links img{
       display: none;
   }
   #link-show-bottle{
       margin-bottom: 2rem;
   }
   .container-links-showcard {
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       align-items: center;
   }
    .container-btn-cardWine a {
        display: flex;
        align-items: center;
        padding: .8rem;
        border-radius: 7px;
        background-color: #485c71;
        font-size: var(--font-a-cardWine);
        transition: 0.5s;
        box-shadow: 5px 5px 13px #562e2eb3, -5px -5px 8px #cf7878b8;
    }

    .container-btn-cardWine a:hover {
        transition: 0.5s;
        border-radius: 20px;
        background-color: var(--first-color-darken);
        box-shadow: 5px 5px 13px #562e2eb3, -5px -5px 8px #cf7878b8;
    }

    .container-btn-cardWine a .arrow {
        width: 2vw;
        margin-left: 1rem;
        box-shadow: none;
    }



    /* --- CARDWINE IN SHOWTAG ---
  ==================================================
  /////////////////////////////////////////////////
  /////////////////////////////////////////////////
  ================================================= */
  
  .container-cardWine-showTag {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--first-color);
        flex-direction: column;
        padding: 3rem;
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    .card-cardWine-showTag {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 2rem;
    }

    .card-cardWine-showTag img {
        border-radius: 20px;
        box-shadow: 20px 25px 60px #562e2ea8, -20px -20px 60px #cf7878;
    }

    .card-cardWine-showTag a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: var(--big-font-size);
        cursor: pointer;
        text-shadow: -5px 5px 0px #d57b7b, -10px 10px 0px #b64f4f, -15px 15px 0px #953737;
    }

    /* --- FORM LOGIN / SIGN UP ---
  ==================================================
  /////////////////////////////////////////////////
  /////////////////////////////////////////////////
  ================================================= */
    /* -- PART LOGIN--
    ==================================================
  ///////////////////////////////////////////////// */
    .main-formLogin {
        height: 100vh;
        background-color: var(--first-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-img-formLogin {
        position: relative;
        justify-self: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .home-img-formLogin img {
        position: absolute;
        top: 20%;
        left: 0;
    }

    .form-structor {
        border-radius: 30px;
        height: 550px;
        width: 350px;
        position: absolute;
        overflow: hidden;
        backdrop-filter: blur(6px);
        background-color: var(--background-login-form);
        box-shadow: 4px 3px 17px #562e2ea8, -2px -3px 12px #df8e8ecc;
    }

    .form-structor::after {
        content: "";
        opacity: 0.8;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 500px;
    }

    .form-structor .signup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
        z-index: 5;
        transition: all 0.3s ease;
    }

    .form-structor .signup.slide-up {
        top: 5%;
        transform: translate(-50%, 0%);
        transition: all 0.3s ease;
    }

    .form-structor .signup.slide-up .form-holder,
    .form-structor .signup.slide-up .submit-btn {
        opacity: 0;
        visibility: hidden;
    }

    .form-structor .signup.slide-up .form-title {
        font-size: 1em;
        cursor: pointer;
    }

    .form-structor .signup.slide-up .form-title span {
        margin-right: 5px;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
    }

    /* -- PART SIGN UP--
    ==================================================
  ///////////////////////////////////////////////// */
    .form-structor .signup .form-holder {
        border-radius: 15px;
        overflow: hidden;
        margin-top: 50px;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
        box-shadow: 3px 3px 7px #562e2ea8, -1px -1px 20px #d29090;
    }

    .form-structor .signup .form-holder .input {
        border: 0;
        outline: none;
        box-shadow: none;
        display: block;
        height: 55px;
        line-height: 30px;
        padding: 8px 15px;
        border-bottom: 1px solid var(--card-color);
        background-color: #f5f5f57a;
        width: 100%;
        font-size: 12px;
    }

    /* --  SIGN UP TITLE--
  ======================== */
    .form-structor .signup .form-title {
        color: #fff;
        font-size: 2.7em;
        text-align: center;
        text-shadow: 5px 5px 12px #562e2ea8, -6px -5px 20px #cf7878;
    }

    .form-structor .signup .form-title span {
        color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    ::placeholder {
        color: var(--h1-color);
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
    }

    /* -- SIGN UP BUTTON--
  =================== */
    .form-structor .signup .submit-btn {
        background-color: rgba(0, 0, 0, 0.253);
        color: rgba(255, 255, 255, 0.7);
        border: 0;
        border-radius: 15px;
        display: block;
        margin: 15px auto;
        padding: 15px 45px;
        width: 100%;
        font-size: 13px;
        font-weight: bold;
        transition: all 0.3s ease;
    }

    .form-structor .signup .submit-btn:hover {
        transition: all 0.3s ease;
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* -- PART DOWN CLICK "or login"--
  ============================= */
    .form-structor .login {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        transition: all 0.3s ease;
    }

    .form-structor .login::before {
        content: "";
        position: absolute;
        left: 50%;
        top: -20px;
        transform: translate(-50%, 0);
        background-color: var(--background-sign-up-form);
        width: 200%;
        height: 70vh;
        border-radius: 50%;
        z-index: 4;
        transition: all 0.3s ease;
    }

    /* -TEXT DOWN "or login"--
  ========================== */
    .form-structor .login .center {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: calc(50% - 10%);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
        z-index: 5;
        transition: all 0.3s ease;
    }

    .form-structor .login .center .form-title {
        color: #000;
        font-size: 2.7em;
        text-align: center;
        margin-right: 1rem;
        text-shadow: 3px 3px 4px #4d4a4a8a, -4px -2px 2px #807f7f45;
    }

    .form-structor .login .center .form-title span {
        color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    /* -- PART LOGIN--
  =========================== */
    .form-structor .login .center .form-holder {
        border-radius: 15px;
        overflow: hidden;
        margin-top: 50px;
        box-shadow: 2px 2px 7px #43424280, -2px -2px 7px #cecaca3d;
        transition: all 0.3s ease;
    }

    .form-structor .login .center .form-holder .input {
        border: 0;
        outline: none;
        box-shadow: none;
        display: block;
        height: 50px;
        line-height: 30px;
        padding: 8px 15px;
        background-color: transparent;
        border-bottom: 1px solid #828080;
        width: 100%;
        font-size: 18px;
    }

    /* -- LOGIN BUTTON--
  =========================== */
    .form-structor .login .center .submit-btn {
        background-color: #76848b;
        color: rgba(212, 212, 212, 0.856);
        box-shadow: 2px 2px 7px #43424280, -2px -2px 7px #cecaca3d;
        border: 0;
        border-radius: 15px;
        display: block;
        margin: 15px auto;
        padding: 15px 45px;
        width: 100%;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
    }

    .form-structor .login .center .submit-btn:hover {
        transition: all 0.3s ease;
        box-shadow: inset 4px 5px 10px #2b2020a8, inset -2px -2px 12px #b08f8f;
    }

    .form-structor .login.slide-up {
        top: 90%;
        transition: all 0.3s ease;
    }

    .form-structor .login.slide-up .center {
        top: 10%;
        transform: translate(-50%, 0%);
        transition: all 0.3s ease;
    }

    .form-structor .login.slide-up .form-holder,
    .form-structor .login.slide-up .submit-btn {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    .form-structor .login.slide-up .form-title {
        font-size: 1em;
        margin: 0;
        padding: 0;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .form-structor .login.slide-up .form-title span {
        margin-right: 5px;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
    }

    /* -- ADMIN IN INDEX-ADMIN -- 
    ==================================================
  /////////////////////////////////////////////////
  /////////////////////////////////////////////////
  ================================================= */
    .container-general {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--first-color);
        width: 100%;
    }

    .container-card-admin {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #container {
        perspective: 800px;
        position: relative;
        margin: 2rem;
        width: 325px;
        height: 500px;
        transform-style: preserve-3d;
        transition: transform 5s;
    }

    .card-admin {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden;
        transform-style: preserve-3d;
        transition: 1000ms ease-out;
        border-radius: 30px;
        box-shadow: 4px 4px 15px #6e3c3c, -4px -4px 15px #ce8181;
    }

    /* -- SIDE -- 
  ===============*/
    .front,
    .back {
        width: 100%;
        height: 100%;
        background: #fff;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 100ms ease-out;
    }

    .front {
        background-image: url("../img/img-user-admin/admin_grampa.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .back {
        padding-top: 1vh;
    }

    .back {
        display: none;
        transform: rotateY(180deg);
        animation: anime 0.6s;
        transition: all 100ms ease-out;
    }

    @keyframes anime {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* -- ROTATION -- 
  ===========================*/
    .rotate {
        transform: rotateY(180deg);
        transition: 1000ms ease-out;
    }

    /* -- ANIMATION BUTTON VIEW MORE -- 
  ===========================*/
    .image_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #81555594;
        opacity: 0;
        transition: 0.5s;
    }

    .card-admin:hover .image_overlay {
        opacity: 0.7;
        transition: all 200ms ease-out;
    }

    #details-card {
        position: absolute;
        top: 112px;
        left: 50%;
        margin-left: -85px;
        border: 2px solid #fff;
        color: #fff;
        font-size: 19px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 0;
        width: 172px;
        opacity: 1;
        transition: all 200ms ease-out;
    }

    .card-admin:hover #details-card {
        background: #fff;
        color: #c83f3fd5;
        cursor: pointer;
        opacity: 1;
        font-size: 15px;
        transition: all 200ms ease-out;
    }

    /* -- TEXT -- 
  ===========================*/
    .text-container {
        background: #fff;
        position: absolute;
        text-transform: uppercase;
        line-height: 3vh;
        text-align: center;
        top: 350px;
        width: 90%;
        padding: 2vh;
        transition: all 500ms ease-out;
    }

    .text-container .title {
        font-size: 22px;
        color: #393c45;
    }

    .text-container p {
        font-size: 16px;
        color: #b1b1b3;
    }

    /* -- "X" BACK CONTAINER  -- 
  ===========================*/
    #flip-back {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    #cx,
    #cy {
        background: #d2d5dc;
        position: absolute;
        width: 0px;
        top: 15px;
        right: 15px;
        height: 3px;
        transition: all 250ms ease-in-out;
    }

    #cx {
        right: 0;
        width: 30px;
        transform: rotate(50deg);
    }

    #cy {
        right: 0;
        width: 30px;
        transform: rotate(130deg);
    }

    #flip-back:hover #cx,
    #flip-back:hover #cy {
        background: #979ca7;
        transition: all 250ms ease-in-out;
    }

    /* -- BACK INPUT  -- 
  ===========================*/
    .input-container {
        padding: 2vh;
    }

    .form {
        background: #ffffff;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
    }

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4caf50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #ffffff;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    .form button:hover {
        background: #43a047;
    }

    /* -- TABLE INDEX_ADMIN  -- 
  ===========================*/
    .container-card-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15vh;
        padding: 2vh;
        width: 100%;
        border-radius: 20px;
    }

    /* card info bottle */
    .card-info-admin {
        background-color: var(--first-color);
        width: 100%;
        height: 40vh;
        padding: 1rem;
        font-size: 12px;
        margin-bottom: 2rem;
        border-radius: 12px;
        box-shadow: 2px 2px 13px #442424a8, -2px -2px 10px #984747;
    }

    #card-info {
        width: 100%;
        margin: 0;
    }

    .container-back-info-indexAdmin {
        margin-top: 2rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    .from {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    /* custom btn  */
    .btn-cancel,
    .btn-modify,
    .btn-create {
        padding: 0.5rem;
        border-radius: 7px;
        color: black;
        background-color: var(--first-color-dark);
        box-shadow: 3px 3px 6px #562e2e45, -1px -1px 4px #b16666eb;
        font-size: 1.2rem;
        transition: 0.5s;
        border: none;
    }

    #btn-create-custom {
        margin-bottom: 1rem;
    }

    .btn-cancel:hover,
    .btn-modify:hover,
    .btn-create:hover {
        transition: 0.5s;
        border-radius: 20px;
        background-color: var(--first-color-darken);
    }

    /* -- FORM IN ADMIN-FORM -- 
    ==================================================
  /////////////////////////////////////////////////
  /////////////////////////////////////////////////
  ================================================= */
    .container-form-admin {
        background-color: var(--first-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    /* title container title admin form  */
    .container-form-admin-title {
        padding: 1rem;
    }

    #title-up {
        margin-bottom: 1rem;
    }

    .title-admin-bottle-id {
        background-color: var(--loading-color);
        border-radius: 12px;
        box-shadow: -4px 4px 6px #562e2e45, 2px -2px 4px #b16666eb;
        text-align: center;
        padding: 1rem;
    }

    #title-down {
        margin-top: 0;
    }

    /* div-from admin bottle */
    #form {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    /*inputs*/
    .font_span {
        font-size: 12px;
        text-align: left;
        margin-left: 0.45rem;
        margin-bottom: 0.25rem;
    }

    #form input,
    #form textarea,
    #form select,
    #form button,
    #form a {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2c3e50;
        font-size: 13px;
    }

    #form .message {
        height: 10rem;
    }

    #form .form-select,
    #form .btn {
        font-size: 12px;
        font-family: var(--body-font);
        margin-bottom: 1rem;
    }

    #form .btn:hover {
        background-color: var(--card-color);
    }

    .banner_error {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2c3e50;
        height: 20vh;
        width: 50%;
        border-radius: 12px;
    }
}


/*   -- MEDIA QUERY   -- 
 ==================================================
  /////////////////////////////////////////////////
  /////////////////////////////////////////////////
  ================================================= */


/* -- MEDIA QUERY  450  -- 
  ===========================*/

@media screen and (min-width: 450px) {
    .card-info-admin {
        width: 70%;
    }

    /* cardShowTag */
    .container-cardWine-showTag {
        padding: 6rem;
    }
}


/* -- MEDIA QUERY  600  -- 
  ===========================*/

@media screen and (min-width: 600px) {
    .home-img img {
        top: 26%;
        transition: 0.5s;
    }

    /* carwine bottle index */
    .juste-for-border {
        flex-direction: row;
        align-items: center;
    }
    .container-links img{
        display: flex;
    }
    /* in login form */
    .home-img-formLogin img {
        position: absolute;
        top: 5%;
        left: 0;
    }
    .form-structor .login .center .form-holder .input {
        height: 50px;
        font-size: 16px;
    }

    .form-structor .signup .form-holder .input {
        height: 60px;
        font-size: 16px;
    }

    /* card info admin */
    .card-info-admin {
        width: 60%;
    }
}


/*  -- MEDIA QUERY  700  --
    =============================== */

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 6rem;
        --normal-font-size: 1rem;
    }

    /* card info admin */
    .container-general {
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        height: 100vh;
        overflow: hidden;
    }

    .container-card-admin {
        width: 50%;
    }

    .container-card-info {
        padding: 1rem 0;
        overflow: scroll;
        height: 100vh;
        width: 40%;
    }

    .card-info-admin {
        width: 80%;
        flex-wrap: wrap;
    }

    /* form admin input */
    #form input,
    #form textarea,
    #form select,
    #form button,
    #form a {
        width: 50vh;
    }
}


/* -- MEDIA QUERY  900 --
    =============================== */

@media screen and (min-width: 905px) {
    body {
        margin: 0;
        transition: 0.5s;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav-menu {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem;
        right: 0;
        padding: 1rem;
        background: none;
        backdrop-filter: none;
    }

    .nav-toggle,
    .nav-close {
        display: none;
    }

    .nav-list {
        display: flex;
    }

    .nav-item {
        margin-left: 2rem;
        margin-bottom: 0;
    }

    .home-container {
        height: 100vh;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: 1fr;
        row-gap: 0;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }

    .home-img {
        order: 1;
        width: 376px;
        height: 489px;
    }

    .home-img img {
        width: 775px;
        top: -30%;
        left: -60%;
    }

    /* background login form */
    .home-img-formLogin img {
        top: 0%;
        left: 3%;
        transition: 0.5s;
    }

    #img-cardWine {
        max-width: 30%;
    }

    #body-card-custom {
        width: 100%;
    }

    /* indexArticle */
    .card-cardWine-focus {
        margin-top: 4rem;
    }
    .card-cardWine-focus .img-description{
        width: 100%;
        height:100%;
        display: flex;
        padding:2rem;
        flex-direction: row-reverse;
        justify-content:space-evenly;
        align-items: center;
    }
    .card-cardWine-focus .carte {
        position: relative;
        left: 0;
    }
    .info-bottle {
        padding: 1rem;
    }
    /* showTag */
    .container-cardWine-showTag {
        padding: 12rem;
    }

    /* container in formAdmin */
    .container-form-admin-title {
        margin-top: 3rem;
    }
}


/* -- MEDIA QUERY  1000 --
    =============================== */

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .home-container {
        column-gap: 4.5rem;
    }

    .home-img {
        width: 604px;
        height: 766px;
    }

    .home-img img {
        width: 750px;
        left: -25%;
        top: -1%;
    }

    /* img background login form */
    #bottle {
        top: -57%;
        left: 4%;
    }

    .home-img-formLogin img {
        top: -60%;
        left: -12%;
        transition: 0.5s;
    }

    .form-structor {
        height: 650px;
        width: 400px;
    }

    /* admin page */
    #container {
        max-width: 325px;
    }

    .card-info-admin {
        max-width: 424px;
    }

    /* adminShowTag */
    .container-cardWine-showTag {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 6vh 0;
    }

    .card-cardWine-showTag {
        width: 25vw;
        margin: 3rem;
        filter: brightness(70%);
        transition: 0.3s;
        margin-bottom: 0;
    }

    .card-cardWine-showTag img {
        max-height: 70vh;
    }

    .card-cardWine-showTag:hover {
        filter: brightness(100%);
        transition: 0.3s;
    }

    .card-cardWine-showTag a {
        font-size: 50px;
    }
}


/* -- MEDIA QUERY  1534  -- 
  ===========================*/

@media screen and (min-width: 1534px) {
    .card-cardWine-showTag img {
        min-height: 70vh;
    }

    .card-cardWine-showTag a {
        font-size: 70px;
    }

    /* showArticle */
    #img-cardWine {
        margin-left: 12rem;
    }

    #body-card-custom {
        width: 40%;
    }
}